# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model files
models/*.joblib
models/*.pkl
models/*.pkl.gz

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
